.modal-header {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.modal {
    background-color: rgba(0, 0 , 0, 0.6);
}

.close:hover {
    background-color: red;
    color: #fff;
}

form {
    background-color: #fff;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

form > h2, p, .nameAccessButton {
    color: #000;
}

.btn-primary {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border: none;
    width:120px;
    height:40px;
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
    color:#fff;
}