.navbar {
    /*background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);*/
    background-color: none;
}

.navbar > .navbar-brand {
    color: #000;
    font-family: 'Lobster', cursive;
}